<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaHAhXuY5HOCwkHk07sT2MyQvHH3VZoak</string>
	<key>GCM_SENDER_ID</key>
	<string>227380616431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoprogramovil</string>
	<key>PROJECT_ID</key>
	<string>app-taller-pm</string>
	<key>STORAGE_BUCKET</key>
	<string>app-taller-pm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227380616431:ios:af1d99e533c6d09a8e8f1a</string>
</dict>
</plist>